<%-include("partials/header");-%>
<!-- copied file path from left side bar is "partials\header" whilst actual path is "partials/header" -->
<h1>About</h1>
<p><%= varToUseInAboutEJS %></p>
<%-include("partials/footer");-%>
