<%-include("partials/header");-%>
<h1>Compose</h1>
<form action="/compose" method="post">

  <div class=-"form-group">
    <div class="post">
      <label for="title">Title</label>
      <input class="form-control" type="text" name="inputBody" autocomplete="off">
    </div>
    <div class="title">
      <label for="post">Post</label>
      <textarea class="form-control" rows="5" cols="30" name="textareaBody"></textarea>
    </div>
    <button style="margin-top:1rem" class="btn btn-primary" type="submit" name="button">Publish</button>
  </div>
</form>
<%-include("partials/footer");-%>
