<%-include("partials/header");-%>
<!-- copied file path from left side bar is "partials\header" whilst actual path is "partials/header" -->
<h1>Contact</h1>
<p><%= varToUseInContactEJS %></p>
<%-include("partials/footer");-%>
